.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
  margin: auto;
  max-width: 880px;
}

@media screen and (max-width: 1023px) {
  .gallery {
    max-width: 581px;
  }
}

@media screen and (max-width: 630px) {
  .gallery {
    max-width: 282px;
  }
}