.popup__form-input {
  border: none;
  margin: 45px 0 48px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding: 0;
}

@media screen and (max-width: 787px) {
  .popup__form-input {
    margin: 74px 0 45px;
  }
}