.popup__form {
  border: none;
  margin-top: 46px;
  padding: 0;
  min-height: 182px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .popup__form {
    margin-top: 74px;
  }
}