.popup__form {
  padding: 34px 36px 37px;
  position: fixed;
  top: 195px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

@media screen and (max-width: 787px) {
  .popup__form {
    padding: 25px 22px;
    width: 282px;
    height: 322px;
    top: 123px;
  }
}